<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <style>
body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 700px 700px;
  grid-gap: 10px;
  background-color: #ffffe6
;
  
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.min.js"></script>

<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
</head>
<body> 

<div class="wrapper">
  <div class="box a"><svg id="radial_dendrogram" width="900" height="800" style="margin-left:-50px"></svg></div>
  <div class="box b" id ="scatterplot" style="margin-top:150px; margin-left:-200px"></div>
  <div class="box c"><svg id="my_dataviz" width="1000" height="300" style="margin-top:100px; margin-left:0px"></svg></div>
  <div class="box d"><h1 style="text-align:center; line-height:500px; color:#000; margin-left:-250px">Find your Language!</h1>
  <!--<img src="static/findyourlanguage.png" width="500" height="300" style=" margin-left:-150px; margin-top:100px">-->

  </div>

</div>


<script>var data = {{ data.chart_data | safe }}</script>
  <script src="{{
  url_for('static', filename='index.js') }}"></script>

</body>